{% extends "_base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
Social Account
{% endblock title %}

{% block content %}
<div>
  <h1>
    {% blocktrans with provider=provider.name %}Continue your account with {{ provider }}{% endblocktrans %}
  </h1>
  <p>
    {% blocktrans with provider=provider.name %}You're about to sign in using your {{ provider }} account.{% endblocktrans %}
  </p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">
      {% trans "Continue" %}
    </button>
  </form>
</div>
{% endblock content %}
